.linkhub {
  min-height: 100vh;
  background: var(--color-brand-primary);

  display: flex;
  justify-content: center;
  align-items: end;
}

.linkhub__container {
  width: 100%;
  max-width: var(--container-width);
  padding-top: var(--space-7);
}

.linkhub__card {
  background: var(--color-bg-base);
  border-radius: var(--border-radious-xl) var(--border-radious-xl) 0 0;

  display: grid;
  flex-direction: column;
  gap: var(--space-7);

  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}



/* ---------------- guestbook ---------------- */

.linkhub__guestbook {

  padding: var(--space-6);
  text-align: center;

}



/* ---------------- mobile ---------------- */

@media (max-width:768px) {

  .linkhub__card {
    min-height: 100vh;
  }

}