@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");
html {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}

body {
  background-color: var(--color-bg-base);
  font-family: "Pretendard", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-title {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
}

.text-subtitle {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-semibold);
}

.text-base {
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
}

.text-label {
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-thin);
}

.text-caption {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-light);
}

:root {
  /* Color */
  --color-brand-primary: #035900;
  --color-brand-primary-rgb: 3, 89, 0;
  --color-bg-base: #FFFCF9;
  --color-bg-section: #FFF5E9;
  --color-text-primary: #030509;
  --color-text-muted: #595959;
  --color-text-inverse: #FFFCF9;
  --color-text-inverse-muted: #FFF5E9;
  --color-accent-sub: #359000;
  /* Font size */
  --font-size-2xl: 3rem; /* page title */
  --font-size-xl: 2.4rem; /* section title */
  --font-size-lg: 2rem; /* subtitle */
  --font-size-md: 1.2rem; /* body, label */
  --font-size-sm: 1rem; /* caption */
  --font-size-xsm: 0.8rem;
  /* Line height */
  --line-height-tight: 1.2;
  --line-height-base: 1.5;
  --line-height-relaxed: 1.7;
  /* Font weight */
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  /* Space */
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2.4rem;
  --space-6: 3.2rem;
  --space-7: 4.8rem;
  /* Border-radious */
  --border-radious-s: 4px;
  --border-radious-m: 8px;
  --border-radious-l: 16px;
  --border-radious-xl: 32px;
  --border-radious-full: 999px;
  --container-width: 600px;
}

@media (max-width: 768px) {
  :root {
    --font-size-2xl: 2.4rem;
    --font-size-xl: 1.9rem;
    --font-size-lg: 1.6rem;
    --font-size-md: 1.1rem;
    --font-size-sm: 0.9rem;
    --space-1: 0.2rem;
    --space-2: 0.6rem;
    --space-3: 1rem;
    --space-4: 1.4rem;
    --space-5: 2.0rem;
    --space-6: 2.4rem;
    --space-7: 3.2rem;
  }
}
@media (max-width: 430px) {
  :root {
    --font-size-2xl: 2rem;
    --font-size-xl: 1.6rem;
    --font-size-lg: 1.3rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.8rem;
    --font-size-xsm: 0.7rem;
    --space-3: 0.8rem;
    --space-4: 1rem;
    --space-5: 1.8rem;
    --space-6: 2.2rem;
    --space-7: 3rem;
  }
}
.linkhub {
  min-height: 100vh;
  background: url(../../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.linkhub__container {
  width: 100%;
  max-width: var(--container-width);
  padding-top: var(--space-7);
}

.linkhub__card {
  background: var(--color-bg-base);
  border-radius: var(--border-radious-xl) var(--border-radious-xl) 0 0;
  display: grid;
  flex-direction: column;
  gap: var(--space-7);
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.tabs-container {
  display: grid;
  flex-direction: column;
  gap: var(--space-4);
}

/* ---------------- mobile ---------------- */
@media (max-width: 768px) {
  .linkhub__card {
    min-height: 100vh;
  }
}
@media (max-width: 600px) {
  .linkhub__container {
    padding-top: 0;
  }
  .linkhub__card {
    border-radius: 0;
  }
}
.linkhub__links {
  padding: var(--space-5) var(--space-4);
  background: var(--color-bg-section);
  display: grid;
  flex-direction: column;
  gap: var(--space-3);
}

.link-item {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-2) var(--space-4);
  background: var(--color-bg-base);
  color: var(--color-text-base);
  border-radius: var(--border-radious-full);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.link-item:hover {
  transform: translateY(-3px);
}

.link-item__icon {
  width: 48px;
  height: 48px;
  background: var(--color-brand-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media screen and (max-width: 430px) {
  .link-item__icon {
    width: 40px;
    height: 40px;
  }
}
/* ---------------- tabs ---------------- */
.linkhub__tabs {
  display: flex;
  justify-content: center;
  gap: var(--space-2);
}

.tab-btn {
  padding: var(--space-2) var(--space-5);
  border-radius: var(--border-radious-full);
  background: var(--color-bg-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  transition: 0.2s;
}

.tab-btn.active {
  background: var(--color-brand-primary);
  color: var(--color-text-inverse);
}

.guestbook__form {
  border-radius: 0;
  box-shadow: none;
  padding: 0 var(--space-4) var(--space-4) var(--space-4);
}

.form-row {
  margin-bottom: var(--space-2);
}

.form-button {
  height: 100%;
  box-shadow: none;
  background-color: var(--color-brand-primary);
  color: var(--color-text-inverse);
}

.guestbook__title {
  margin-bottom: var(--space-1);
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
}

.guestbook__caption {
  margin-bottom: var(--space-2);
}

.guestbook__content {
  white-space: pre-line;
}

.guestbook__list {
  padding: var(--space-4);
  margin-bottom: var(--space-4);
  background-color: var(--color-bg-section);
  display: grid;
  flex-direction: column;
  gap: var(--space-3);
}

.guestbook__item {
  padding: var(--space-3);
  border-radius: var(--border-radious-m);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 430px) {
  .guestbook__title {
    font-size: 1.15rem;
  }
}
.linkhub__header {
  text-align: center;
}

.bbonzi-logo {
  width: 120px;
  margin: 0 auto var(--space-3);
  padding: var(--space-3) 0 var(--space-7);
}
.bbonzi-logo img {
  width: 100%;
}

.logo {
  width: 240px;
  margin: 0 auto var(--space-4);
}
.logo img {
  width: 100%;
}

.description {
  margin-top: var(--space-4);
  color: var(--color-text-muted);
}

/* ---------------- mobile ---------------- */
@media (max-width: 768px) {
  .logo {
    width: 200px;
  }
}
@media (max-width: 430px) {
  .bbonzi-logo {
    width: 100px;
    margin: 0 auto var(--space-1);
  }
  .logo {
    width: 160px;
  }
}
/* ---------------- footer ---------------- */
.linkhub__footer {
  background-color: var(--color-brand-primary);
  color: var(--color-text-inverse);
  text-align: center;
  padding: var(--space-6) var(--space-6);
}

.copyright {
  margin-top: var(--space-3);
}/*# sourceMappingURL=style.css.map */