:root {
    /* Color */
    --color-brand-primary: #035900;
    --color-brand-primary-rgb: 3, 89, 0;

    --color-bg-base: #FFFCF9;
    --color-bg-section: #FFF5E9;

    --color-text-primary: #030509;
    --color-text-muted: #595959;
    --color-text-inverse: #FFFCF9;
    --color-text-inverse-muted: #FFF5E9;

    --color-accent-sub: #359000;



    /* Font size */
    --font-size-2xl: 3rem; /* page title */
    --font-size-xl: 2.4rem;  /* section title */
    --font-size-lg: 2rem;  /* subtitle */
    --font-size-md: 1.2rem;  /* body, label */
    --font-size-sm: 1rem;  /* caption */
    --font-size-xsm: 0.8rem;

    /* Line height */
    --line-height-tight: 1.2;
    --line-height-base: 1.5;
    --line-height-relaxed: 1.7;

    /* Font weight */
    --font-weight-black: 900;
    --font-weight-extrabold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-thin: 100;

    /* Space */
    --space-1: 0.4rem;
    --space-2: 0.8rem;
    --space-3: 1.2rem;
    --space-4: 1.6rem;
    --space-5: 2.4rem;
    --space-6: 3.2rem;
    --space-7: 4.8rem;



    /* Border-radious */
    --border-radious-s: 4px;
    --border-radious-m: 8px;
    --border-radious-l: 16px;
    --border-radious-xl: 32px;
    --border-radious-full: 999px;



    --container-width: 600px;
}



@media (max-width: 768px) {
    :root {
        --font-size-2xl: 2.4rem;
        --font-size-xl: 1.9rem;
        --font-size-lg: 1.6rem;
        --font-size-md: 1.1rem;
        --font-size-sm: 0.9rem;

        --space-1: 0.2rem;
        --space-2: 0.6rem;
        --space-3: 1rem;
        --space-4: 1.4rem;
        --space-5: 2.0rem;
        --space-6: 2.4rem;
        --space-7: 3.2rem;
    }
}

@media (max-width: 430px) {
    :root {
        --font-size-2xl: 2rem;
        --font-size-xl: 1.6rem;
        --font-size-lg: 1.3rem;
        --font-size-md: 0.9rem;
        --font-size-sm: 0.8rem;
        --font-size-xsm: 0.7rem;

        --space-3: 0.8rem;
        --space-4: 1.2rem;
        --space-5: 1.8rem;
        --space-6: 2.2rem;
        --space-7: 3rem;
    }
}